* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

@font-face {
    font-family: counter-text;
    src: url("SuperAdorable-MAvyp.ttf");
}

@font-face {
    font-family: btn-text;
    src: url("MorinorLenteron-BLVM5.otf");
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 109, 60);

    .text-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 10rem;
            font-family: counter-text;
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

        }

        button {
            font-size: 1rem;
            border: none;
            border: 2px solid;
            text-align: center;
            padding: 0.5rem;
            width: 6rem;
            font-family: btn-text;
            text-align: center;
            border: none;
            border-radius: 7px;
        }

        .Increase {
            background-color: rgb(127, 175, 127);
            font-weight: 800;
        }

        .Decrease {
            background-color: rgb(179, 117, 117);
            font-weight: 800;
        }

        .Reset {
            background-color: rgb(175, 175, 175);
            font-weight: 800;
        }
    }
}